.contacts {
  min-height: 315px;
  margin-bottom: 39px;
}

.contacts__wrapper {
  padding-top: 42px;
}

.contacts__header {
  @include container-padding;
}

.contacts__title {
  min-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__cell {
  margin-bottom: 35px;
  @include clearfix;
}

.contacts__field {
  float: left;
  width: 60px;
  min-height: 30px;
}

.contacts__value {
  float: right;
  width: 184px;
  min-height: 30px;
}

.contacts__value_address {
  min-height: 112px;
}

.contacts__link {
  display: block;
  min-height: 30px;
}

.contacts__map {
  @include container;
  height: 457px;
  margin-bottom: 40px;
}

.contacts__bottom {
  @include container-padding;
}

@media #{$tablet-widths} {

  .contacts {
    margin-bottom: 57px;
  }

  .contacts__wrapper {
    padding-top: 45px;
  }

  .contacts__header {
    margin-bottom: 30px;
    padding-top: 42px;
  }

  .contacts__title {
    min-height: 50px;
    margin-bottom: 45px;
  }

  .contacts__cell {
    display: table-cell;
    width: 334px;
    vertical-align: top;
  }

  .contacts__value {
    width: 260px;
  }

  .contacts__map {
    width: 100%;
    margin-bottom: 55px;
  }

  .contacts__bottom {
    width: 230px;
  }

}

@media #{$desktop-widths} {

  .contacts {
    margin-bottom: 53px;
  }

  .contacts__wrapper {
    @include clearfix;
    @include container-padding;
    padding-top: 95px;
  }

  .contacts__header {
    float: left;
    width: 300px;
    margin-bottom: 13px;
    padding-left: 175px;
    padding-top: 80px;
  }

  .contacts__title {
    min-height: 57px;
    width: auto;
  }

  .contacts__cell {
    display: block;
    width: auto;
  }

  .contacts__value {
    width: 225px;
  }

  .contacts__map  {
    float: right;
    width: 525px;
  }

  .contacts__bottom {
    float: left;
    padding-left: 175px;
  }

}
