.main-catalog {
  margin-bottom: 58px;
}

.main-catalog__title {
  min-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  padding: 73px 0;
}

@media #{$tablet-widths} {

  .main-catalog__title {
    min-height: 50px;
    margin-bottom: 82px;
    padding-top: 10px;
  }

}

@media #{$desktop-widths} {

  .main-catalog {
    margin-bottom: 105px;
  }

  .main-catalog__title {
    min-height: 57px;
    margin-bottom: 130px;
    padding-bottom: 95px;
  }

}
