.main-footer {
  /*background-color: #f1f1f1;*/
}

.main-footer__wrapper {
  @include container-padding;
}

.main-footer__logo {
  display: none;
}

.main-footer__logo,
.main-footer__social,
.main-footer__copyright {
  min-height: 80px;
  margin: 0;
}

@media #{$tablet-widths} {

  .main-footer__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    @include clearfix;
  }

  .main-footer__logo,
  .main-footer__social,
  .main-footer__copyright {
    float: right;
    width: 33.33%;
  }

  .main-footer__logo {
    display: block;
    float: left;
  }
}
