.main-nav {
  display: none;
  width: 320px;
  margin: 0 auto;

}

.main-nav__item-list,
.main-nav__user-list,
.main-nav__actual-list {
  min-height: 158px; /* временно для сетки*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__actual-list {
  display: none;
}

.main-nav__note {
  display: none;
}

@media #{$tablet-widths} {

  .main-nav {
    display: block;
    width: auto;
    min-height: 89px;
    margin: 0;
  }

  .main-nav__wrapper {
    @include container;
    @include clearfix;
  }

  .main-nav__item-list {
    float: left;
    width: 320px;
    min-height: 89px;
    margin-top: 89px;
  }

  .main-nav__user-list {
    float: right;
    width: 348px;
    min-height: 89px;
  }

  .main-nav__note {
    display: block;
    float: right;
    width: 265px;
    min-height: 89px;
  }

}

@media #{$desktop-widths} {

  .main-nav__item-list {
    width: 375px;
    margin-top: 0;
  }

  .main-nav__actual-list {
    display: block;
    float: left;
    width: 420px;
    min-height: 89px;
  }

}
